<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/user_sidebar.css">
<link rel="stylesheet" href="/css/feed-post.css">
<!-- <h1>
    <%= title %>
</h1> -->
<div id="home-container">
    <div id="feed-posts">
        <h4>Posts</h4>
        <%if(locals.user){%>
            <div class="post-form">
                <form action="/posts/create" id="new-post-form" method="post">
                    <label for="post">Post:</label>
                    <input type="text" name="content" id="post" placeholder="Type here......" required>
                    <!-- <input type="submit" value="post"> -->
                    <button type="submit">Submit</button>
                </form>

            </div>
            <%}%>
                <div id="posts-list-container">
                        <% for(post of posts){%>
                            <%- include('_post') %>
                            <%} %>
                </div>
            </div>

    <section id="total-users">
         <div class="user-sidebar">
            <h2>All Users</h2>
            <ul class="user-list">
                
              <% for(u of all_users){%>
                <% if(locals.user){ %>
                    <% if(locals.user.id!=u.id){ %>
                <li>
                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                    <form action="/friends/create-friend/<%=u._id%>" method="post" >
                        <button type="submit" class="btn-add-friend" name="add-friend">Add Friend</button>
                    </form>
                </li>
                <% } %>
                <% }else{ %>
                    <li>
                        <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                    </li>
                    <% } %>
             <%} %>
            </ul>
            <a href="/users/all-users" class="btn">View All Users</a>
          </div>
    </section>
</div>
<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>
<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>