<link rel="stylesheet" href="/css/user_profile.css">
<!-- <h1>
    authentication / Profile Page
</h1> -->

<% if(user.id==profile_user.id){%>
    <!-- if user matches then show the form -->
    <!-- <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
        <input type="name" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture" >
        <input type="submit" value="Update">
     </form> -->

     <div class="profile">
        <%if(profile_user.avatar){%>

            <img src="<%=profile_user.avatar%>" alt="<%= profile_user.name %>" width="100">
        <%}else{%>
            <img src="/images/default_pic.jpg" alt="default profile picture" width="100">
            <% } %>
            <h2><%=profile_user.name%></h2>
            <p><%=profile_user.email%></p>
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" class="val" name="name" placeholder="<%=profile_user.name%>" onclick="putvalue(this)" required>
          <label for="email">Email:</label>
          <input type="text" id="email" class="val" name="email" placeholder="<%=profile_user.email%>" onclick="putvalue(this)" required>
          <label for="profile-pic">Profile Picture:</label>
          <input type="file" id="profile-pic" name="avatar" placeholder="Profile Picture" accept="image/*">
          <input type="submit" value="Update Profile">
        </form>
      </div>
    <%}else{%>
        <!-- if user doesn't matches then only profile info -->
        <div class="profile">
            <%if(profile_user.avatar){%>

                <img src="<%=profile_user.avatar%>" alt="<%= profile_user.name %>" width="100">
            <%}else{%>
                <img src="/images/default_pic.jpg" alt="default profile picture" width="100">
                <% } %>
            <h2><%=profile_user.name%></h2>
            <p><%=profile_user.email%></p>
        </div>
        <%} %>

        <script>
            function putvalue(input){
                input.value=input.placeholder;
            }
        </script>