<link rel="stylesheet" href="/css/user_profile.css">
<!-- <h1>
    authentication / Profile Page
</h1> -->
<%if(profile_user.avatar){%>

    <img src="<%=profile_user.avatar%>" alt="<%= profile_user.name %>" width="100">
<%}%>


<% if(user.id==profile_user.id){%>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
        <input type="name" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture" >
        <input type="submit" value="Update">
     </form>
    <%}else{%>
        <!-- if user doesn't matches then only profile info -->
        <h1>
            <%=profile_user.email%>
        </h1>
        <h1>
            <%=profile_user.name%>
        </h1>
        <%} %>